.DS_Store
**/__pycache__
*.csv
*.pth
*.log
wandb/
nii_9861_246/
nii_9861_83/
results/imgs_inrs_avg/
result_2full_4mirror
result_ibf_2full+mirror_TT
sweep_nov13/
oinr_results/
models_new/
models_test/
slurm_logs/
hansen_ckpts/